---js
const eleventyNavigation = {
	key: "Knitting",
	order: 4
};

---

<h1>Knitting</h1>

<a href="https://neuloa.vercel.app/">My beanie-counter PWA</a>

<h2>Resources</h2>

<p>Probably all in finnish!</p>

<ul>
<li><a href="https://punomo.fi/neulepipon-myssyn-paalaen-kahdeksansateinen-kavennus/">Pipon kavennus</a></li>
<li><a href="https://www.meillakotona.fi/artikkelit/englanti-suomi-neulesanasto">What the hell is ssk in finnish</a></li>
</ul>
